canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#display {
}

#game {
  overflow: hidden;
  position: static;
  height: 400px;
  width: 800px;
  background-color: #003366;
  border:1px solid #000000;
  display:inline-block;
}

#information {
  overflow: hidden;
  position: static;
  height: 400px;
  width: 400px;
  background-color: #003366;
  border:1px solid #000000;
  display:inline-block;
}

.stambar {
    border: 1px solid white;
    width: 350px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.healthbar {
    width: 350px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.stam {
    background: green;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    height: 23px;
}

.heart {
    display:inline-block;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
}
